{% extends 'catalog/base.html' %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{%if news%}{{title}} {% endif %}</h1>
</div>

<div class=" h-100 d-flex justify-content-center align-items-center">
    <form method="post" action="">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input name="storage" type="text" class="form-control form-control-lg "
                   placeholder="Введите место хранения детали:"
                   onkeyup="var start = this.selectionStart;var end = this.selectionEnd;this.value = this.value.toUpperCase();this.setSelectionRange(start, end);">
            <button type="submit" class="btn btn-primary">Найти деталь</button>
        </div>
    </form>
</div>

{%if news%}
<!--<div class=" h-100 d-flex justify-content-center align-items-center">-->
<!--    <div class="form-text">Сумма: {{news.price}}</div>-->
<!--</div>-->

<div class="container py-2">
    <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">

        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Производитель</th>
                <th scope="col">Артикул</th>
                <th scope="col">Описание</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Цена</th>
                <th scope="col">Место хранение</th>
                <th scope="col">Дата доставки</th>
                <th scope="col">Поставщик</th>
                <!--                <th scope="col">Склад</th>-->
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>


            {%for i in news%}
            <tr>
                <td>
                    {% if i.product_is_accepted%}
                    <div onclick="location.href='{% url 'storage' i.storage_location i.pk False %}'">
                        <div class="form-check form-switch">
                            <input name="checkbox" class="form-check-input" type="checkbox" checked disabled>
                            <label class="form-check-label">Найдена</label>
                        </div>
                    </div>

                    {% else %}
                    <div onclick="location.href='{% url 'storage' i.storage_location i.pk True %}'">
                        <div class="form-check form-switch">
                            <input name="checkbox" class="form-check-input" type="checkbox">
                            <label class="form-check-label">Не найдена</label>
                        </div>
                    </div>
                    {% endif %}
                </td>
                <th scope="row">{{i.pk}}</th>
                <td>{{i.manufacturer}}</td>
                <td><b>{{i.art}}</b></td>
                <td>{{i.description|truncatechars:50}}</td>
                <td>{{i.qty}}</td>
                <td>{{i.price}}</td>
                <td>{{i.storage_location}}</td>
                <td>{{i.delivery_date}}</td>
                <td>{{i.supplier}}</td>


                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{%else%}
<div class=" h-100 d-flex justify-content-center align-items-center">
    <div class="form-text">Запись {{search_art}} не найдена</div>
</div>
{%endif%}
{% endblock%}